:root {
    --primary-color: rgb(41, 210, 19);
    --secondary-color:off rgb(210, 10, 10);
    --accent1-color: rgb(16, 9, 162);
    --accent2-color: palatinate rgb(4, 4, 159);

    --heading-font: red, serif;
    --paragraph-font: blue, serif;
    
    --nav-background-color: mikado rgb(8, 241, 23);
    --nav-link-color: rgb(150, 0, 137);
    --nav-hover-link-color: rgb(255, 19, 19);
    --nav-hover-background-color: rgb(4, 14, 150);
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--accent1-color);
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
